body{
    background: #1E1E1E;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo{
    position: absolute;
    left: 3.82%;
    right: 84.79%;
    top: 4.51%;
    bottom: 86.71%;

}
#jumpy{
    position: absolute;
    width: 311px;
    height: 74px;
    left: 798px;
    top: 103px;

}
* {
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
p{
    position: absolute;
    position: absolute;
    width: 312px;
    height: 34px;
    left: 798px;
    top: 204px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;

    color: #FFFFFF;
}